body{
	padding-top: 50px;
	padding-bottom: 50px;
}
/*header_begin*/
#logo{
	padding-top: 7px;
}
.gouwuche{
	height: 50px;
	line-height: 50px;
}
/*header_end*/

/*banner_begin*/
.carousel{
	margin-bottom: 40px;
}
.carousel img{			
	width: 100%;
}
footer{
	margin-top: 50px;
}
/*banner_end*/
